################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/ArrayManipulation/bin/
/ArrayManipulation/obj/
/ArrayManipulation/ArrayManipulation.csproj.user